.offers-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.card {
  color: var(--text-secondary-color);
  width: 312px;
  height: 288px;
  text-align: center;
  border-radius: 16px;
  padding: 24px 15px;
  box-sizing: border-box;
}

.card header {
  display: block;
  position: static;
  padding: 0;
}

.card header p {
  font-size: 20px;
  font-weight: var(--font-weigth);
  padding: 0;
}

.card header h3 {
  font-size: 40px;
  font-weight: var(--title-weigth);
  margin: 8px 0 0;
}

.card header span {
  font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .offers-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1024px) {
  .card {
    width: 588px;
    height: 30 8px;
  }

  .card header h3 {
    font-size: 48px;
  }

  .card header span {
    font-size: 40px;
  }
}

@media screen and (min-width: 1440) {
  .card {
    width: 488px;
    height: 30 8px;
  }
}
.card header {
  background-color: transparent;
}

.card.japao {
  background-image: url("../img/bg-card-japao.webp");
  background-size: cover;
  background-position: center;
}

.card.san-andreas {
  background-image: url("../img/bg-card-san-andres.webp");
  background-size: cover;
  background-position: center;
}

.card.paraiba {
  background-image: url("../img/bg-card-paraiba.webp");
  background-size: cover;
  background-position: center;
}

.card.manaus {
  background-image: url("../img/bg-card-manaus.webp");
  background-size: cover;
  background-position: center;
}
